@import "tailwindcss";

*{
    color:#282828;
}
.bg-primary {
    background-color: #282828;
}
.border {
    border: 1px solid #282828;
}

.text-white {
    color: #F8F3ED;
}

.text-primary {
    color: #282828;
}

.font-satoshi {
    font-family: var(--font-satoshi);
    display: swap;
    font-style: normal;
}

.font-staatliches {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: var(--font-satoshi);
    font-weight: 300;
    font-style: normal;
}


.banner {
    position: relative;
    height: calc(100vh - 130px);
}

.workCardTitle{
    @apply  text-2xl leading-tight lg:text-[32px] font-medium m-0 p-0;
}

.workHeading{
    @apply text-[28px] lg:text-5xl leading-none tracking-tight text-white font-medium lg:font-normal;
}

.workSuperscript{
    @apply text-xs lg:text-base font-medium leading-none tracking-tight text-white relative -top-2.5 pl-1 lg:-top-5;
}


/* @media only screen and (min-width:1160px) {
    .slider button {
         width: calc(20% - 20px);
    }
} */
@media only screen and (max-width:1024px) {
    .slider {
        width: calc(100% + 24px);
        margin-left: -12px;
        padding-inline: 12px;
        scroll-padding-inline: 12px;
    }

    .slider button {
        width: calc(20% - 19px);
    }
}

@media only screen and (max-width:1024px) {


    .flimWork,
    .adsWork {
        display: flex;
        flex-wrap: wrap;
    }

    .adsWork>h2 {
        width: 100%;
    }

    .adsWork>a {
        width: calc(50% - 6px);
    }

    .adsWork>a:last-child {
        width: 100%;
    }

    .flimWork>a.--full {
        width: 100%;
    }

    .flimWork>a:not(.--full) {
        order: 1;
    }

    .flimWork>* {
        width: calc(50% - 6px);
    }

    .--full-width {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width:768px) {
    .slider {
        width: calc(100% + 24px);
        margin-left: -12px;
        padding-inline: 12px;
        scroll-padding-inline: 12px;
    }

    .slider button {
        width: 146px;
    }

    #featured-work {
        display: flex;
        flex-wrap: wrap;
    }

    #featured-work>* {
        width: calc(50% - 6px);
        aspect-ratio: 259/250;
    }

    #featured-work>a.--full-width {
        width: 100%;
        aspect-ratio: 351/222;
    }

}

.bg-black{
    background-color: #282828;
}
.bg-yellow{
    background-color: #F6F1EB;
}
.border-white{
    border-color: #F8F3ED;
}