@import "tailwindcss";


.bg-primary {
    background-color: #000;
}

.text-primary {
    color: #000;
}

.font-satoshi {
    font-family: var(--font-satoshi);
    display: swap;
    font-style: normal;
}

.font-staatliches {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: var(--font-satoshi);
    font-weight: 300;
    font-style: normal;
}


.banner {
    position: relative;
    height: calc(100vh - 130px);
}


@media only screen and (max-width:1160px) {
    .slider {
        width: calc(100% + 48px);
        margin-left: -24px;
        padding-inline: 24px;
        scroll-padding-inline: 24px;
    }

    .slider button {
        width: 40%;
    }
}

@media only screen and (max-width:1024px) {
    .slider {
        width: calc(100% + 24px);
        margin-left: -12px;
        padding-inline: 12px;
        scroll-padding-inline: 12px;
    }

    .slider button {
        width: 200px;
    }

    .adsWork {
        display: flex;
        flex-wrap: wrap;
    }

    .adsWork>h2 {
        width: 100%;
    }

    .adsWork>a {
        width: calc(50% - 6px);
    }

    .adsWork>a:last-child {
        width: 100%;
    }
}